.choices_ul {
  list-style-type: none;
  padding: 0;
}

.choices_li {
  margin: 10px 0;
  background-color: white;
  border: 1px solid grey;
  overflow: hidden;
  border-radius: 10px;
  padding-right: 10px;
}

.choices_name {
  display: inline-block;
}

.choices_title {
  text-align: center;
  font-size: 1.6em;
  color: #2f4f4f;
  margin: 0;
}

.choices_img {
  width: 70px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.choices-appear {
  opacity: 0.01;
}

.choices-appear.choices-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}