.stunts-display-accept {
  border: 1px solid green;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  text-align: center;
  line-height: 4em;
}

.stunts-display-decline {
  border: 1px solid red;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  text-align: center;
  line-height: 4em;
}
